<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <% if @stores.any?() %>
  <h2 class="center">Here are all your stores:</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
  <ul>
    <% @stores.each do |store| %>
    <li><a href='/stores/<%= store.id() %>'><%= store.name() %>, <%= store.city() %>, <%= store.state() %></a>
      <% end %>
  </ul>
  <% else %>
  <h2 class="title"> You don't have any stores yet. Add some! </h2>
  <% end %>
  </div>
</div>
<div class= "row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2 class="center">Add a Store:</h2>
  </div>
</div>
<div class= "row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/stores/new" method="post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" name="city">
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" name="state">
      </div>
      <div class="form-group">
        <label for="brand_ids[]">Which brands does this store carry?</label><br>
        <% @brands.each() do |brand| %>
        <input type="checkbox" name="brand_ids[]" value="<%= brand.id()%>"><%= brand.name() %><br>
      <% end %>
      </div>
      <button type='submit' class="btn btn-success btn-lg">Add Store</button>
    </form>
  </div>
</div>
